<%= form_for(@store,url: (@store.new_record? ? owner_commerce_stores_url : owner_commerce_store_url)) do |f| %>
  <script type="text/javascript">
   var errorsArray=[] ;
  <% @store.errors.each do |atributo, mensaje| %>
      errorsArray.push({atributo:"<%="#{atributo}"%>",mensaje:"<%="#{mensaje}"%>"});
  <% end %>
  $( document ).ready(function() {
    validarErrores(errorsArray);
  });
</script>

  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Datos de la Tienda</h3>
    </div><!-- /.box-header -->

    <div class="box-body">
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
              <%= f.label :nombre %>*<br>
              <%= f.text_field :nombre,class:"form-control" %>
            </div>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
              <%= f.label :direccion, "Dirección" %><br>
              <%= f.text_area :direccion ,class:"form-control" %>
            </div>
        </div>
      </div>

    </div><!-- /.box-body -->
  </div><!-- /.box -->
  
    <div class="box-footer">
      <%= f.submit "Guardar", class: "visible-xs btn btn-block btn-primary btn-lg" %>
      <%= f.submit "Guardar", class: "hidden-xs btn btn-primary" %>
    </div>
<% end %>


<script>
      $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();
      });
</script>