                <!-- form start -->
<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="box-body">

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
          <%= f.label :primer_nombre %><br>
          <%= f.text_field :primer_nombre,class:"form-control" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
          <div class="form-group">
            <%= f.label :segundo_nombre %><br>
            <%= f.text_field :segundo_nombre,class:"form-control"  %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
          <%= f.label :primer_apellido %><br>
          <%= f.text_field :primer_apellido,class:"form-control" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
          <div class="form-group">
            <%= f.label :segundo_apellido %><br>
            <%= f.text_field :segundo_apellido,class:"form-control"  %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
        <%= f.label :email %><br>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <%= f.text_field :email,class:"form-control", placeholder: "Email"  %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
          <%= f.label :celular %><br>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-phone"></i>
            </div>
            <%= f.text_field :celular,class:"form-control", "data-inputmask" => '"mask": "(9999) 999-9999"'  %>
          </div><!-- /.input group -->
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="form-group">
          <%= f.label :sexo %>*<br>
          <%=radio_button("profile", "sexo", "true") %> Masculino 
          <%=radio_button("profile", "sexo", "false") %> Femenino
        </div>
      </div>      
    </div>
    </div><!-- /.box-body -->
    <div class="box-footer">
      <%= f.submit "Guardar", class: "btn btn-primary" %>
    </div>
<% end %>

 <script>
      $(function () {
        $("#profile_celular").inputmask();
          $('input[type="radio"]').iCheck({
          checkboxClass: 'icheckbox_minimal-blue',
          radioClass: 'iradio_minimal-blue'
        });
          $('input[type="radio"]').first().parent().addClass("checked")
      });
</script>
   
