
<%= form_for(@deposits_product,{:url => (@deposits_product.new_record? ? deposits_products_path : deposits_product_path(@deposit.slug,@deposits_product) )}) do |f| %>

  <script type="text/javascript">
   var errorsArray=[] ;
  <% @deposits_product.errors.each do |atributo, mensaje| %>
      errorsArray.push({atributo:"<%="#{atributo}"%>",mensaje:"<%="#{mensaje}"%>"});
  <% end %>
  $( document ).ready(function() {
    validarErrores(errorsArray);
  });
</script>

  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Datos del Comercio</h3>
    </div><!-- /.box-header -->

    <div class="box-body">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <%= f.label :product_id, "Producto" %>*<br>
            <%= f.select :product_id, 
            options_for_select(Product.all.collect {|p| [p.nombre_marca, p['id'] ] },( @deposits_product.product_id ? @deposits_product.product_id : "" )),{},{class:"form-control select2"}%>
          </div>
        </div>
      </div> 
      
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
              <%= f.label :cantidad, "Cantidad" %><br>
              <%= f.number_field :cantidad ,class:"form-control" %>
            </div>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
              <%= f.label :precio, "Precio" %><br>
              <%= f.text_field :precio ,class:"form-control" %>
            </div>
        </div>
      </div>
    </div><!-- /.box-body -->
  </div><!-- /.box -->
  
    <div class="box-footer">
      <%= f.submit "Guardar", class: "visible-xs btn btn-block btn-primary btn-lg" %>
      <%= f.submit "Guardar", class: "hidden-xs btn btn-primary" %>
    </div>
<% end %>



<script>
      $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();
      });
</script>
