    <li>
      <a href="javascript:window.localStorage.setItem('tab','1');window.location.href='<%=seller_store_path%>'">
        <i class="fa fa-cart-arrow-down"></i> Ver Tienda
      </a>
    </li>  
    <li>
      <a  id="new_bill" href="#"><i class="fa fa-plus-circle"></i> Nueva venta</a>
    </li>
    <li>
      <a href="javascript:window.localStorage.setItem('tab','3');window.location.href='<%=seller_store_path%>'">
        <i class="fa fa-eye"></i> Ver ventas del dia
      </a>
    </li>  

              

<script type="text/javascript">
  url_store_products="<%=seller_store_products_path(format: :json)%>"
  url_create_bill="<%=seller_bills_path(format: :json)%>"
  url_redirect="<%=seller_store_path%>"
</script>
