<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad:</strong>
  <%= @load.cantidad %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @load.precio %>
</p>

<%= link_to 'Edit', edit_load_path(@load) %> |
<%= link_to 'Back', loads_path %>
