<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @deposit.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @deposit.descripcion %>
</p>

<%= link_to 'Edit', edit_deposit_path(@deposit) %> |
<%= link_to 'Back', deposits_path %>
