<%= form_for(@load,url: @load.new_record? ? owner_loads_path : owner_load_path, html: { class:  "submit_client_date"} ) do |f| %>
    <script type="text/javascript">
   var errorsArray=[] ;
  <% @load.errors.each do |atributo, mensaje| %>
      errorsArray.push({atributo:"<%="#{atributo}"%>",mensaje:"<%="#{mensaje}"%>"});
  <% end %>
  $( document ).ready(function() {
    validarErrores(errorsArray);
  });
</script>

  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Datos de la carga</h3>
    </div><!-- /.box-header -->
    
    <div class="box-body">
      
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <%if @load.new_record?%>
              <%= f.label "comercio", "Comercio" %>*<br>
              <%= select_tag "comercio", options_from_collection_for_select(@commerces,"id","nombre", ""),{class:"form-control select2"}%>
            <%else%>
              <label> Comercio: <%=@load.deposit.commerce.nombre%></label>
              
            <%end%>
          </div>
        </div>
      </div> 

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <%if @load.new_record?%>
            <%= f.label :deposit_id, "Deposito origen" %>*<br>
            <%= f.select :deposit_id, 
            options_for_select(Deposit.all.collect {|p| [p.nombre, p['id'] ] },( @load.new_record? ? "" : @load.deposit_id )),{},{class:"form-control select2 deposits"}%>
            <%else%>
              <label> Depósito Origen: <%=@load.deposit.nombre%></label>
              
            <%end%>
          </div>
        </div>
      </div> 

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <%if @load.new_record?%>
              <%= f.label :product_id, "Producto" %>*<br>
              <%= f.select :product_id, options_for_select(Product.all.collect {|p| [p.nombre_marca, p['id'] ] },( @load.product_id ? @load.product_id : "" )),{},{class:"form-control select2"}%>
            <%else%>
              <label> Producto: <%=@load.product.nombre_marca%></label>
              
            <%end%>

          </div>
        </div>
      </div> 
      
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
              <%= f.label :cantidad, "Cantidad" %><br>
              <%= f.number_field :cantidad ,class:"form-control" %>
            </div>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
              <%= f.label :precio, "Precio" %><br>
              <%= f.text_field :precio ,class:"form-control" %>
            </div>
        </div>
      </div>
    </div><!-- /.box-body -->
  </div><!-- /.box -->
  
    <div class="box-footer">
      <%= f.submit "Guardar", class: "visible-xs btn btn-block btn-primary btn-lg" %>
      <%= f.submit "Guardar", class: "hidden-xs btn btn-primary" %>
    </div>
<% end %>


<%if @load.new_record?%>
<script>
      $(function () {
        //Initialize Select2 Elements
        triggerChangeDeposit = false;
        $(".select2").select2();
        initComerces();
        $("select.select2#comercio").change(fill_deposits_for_commerce);
        $("select.select2#comercio").change(function(){
          commerce_id = $("select.select2#comercio").val();
        });
      });
</script>
<%end%>

