<p> <%=notice%></p>
<p> <%=alert%></p>

<%= form_for(setup_product(@product)) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Datos del Producto</h3>
    </div><!-- /.box-header -->

    <div class="box-body">
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
              <%= f.label :nombre %>*<br>
              <%= f.text_field :nombre,class:"form-control" %>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <%= f.label :category_id, "Categoria" %>*<br>
            <%= f.select :category_id, options_for_select(Category.all.pluck(:nombre,:id)),{},{class:"form-control select2"}%>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
              <%= f.label :descripcion %><br>
              <%= f.text_area :descripcion ,class:"form-control" %>
            </div>
        </div>
      </div>

    </div><!-- /.box-body -->
  </div><!-- /.box -->
  
    <div class="box-footer">
      <%= f.submit "Guardar", class: "visible-xs btn btn-block btn-primary btn-lg" %>
      <%= f.submit "Guardar", class: "hidden-xs btn btn-primary" %>
    </div>

<% end %>


<script>
      $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();
      });
</script>