<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad:</strong>
  <%= @sale.cantidad %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @sale.precio %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
